body ,html {
    padding: 30px;
}
body {
    border: 1px solid black;
}

.container{
    position: relative;
    width: 400px;
    height: 450px;

}
.create-btn{
    background-color: white;
    position: absolute;
    right: 5%;
    top: 5%;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px ;
    &:hover{
        background-color: #ceeadc;
    }
    &:active{
        background-color: #00ff80;
    }
}

.clear-btn{
    background-color: white;
    position: absolute;
    right: 5%;
    top: 10%;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px ;
    &:hover{
        background-color: #ceeadc;
    }
    &:active{
        background-color: #00ff80;
    }
}


.canvas-container{
    width: 400px;
    height: 400px;
    flex-direction: column;
    gap: 0;
}

.ball-container{
    height: 100%;
    width: 100%;
}



